.cart-container {
    width: 100%;
    padding: 20px;
    background: #f5f5f5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.cart-label {
    font-size: 1.5em;
    margin-bottom: 20px;
    display: block;
}

.cart-item-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item {
    background-color: #fff;
    padding: 10px 10px 10px 0;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height: 110px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.cart-item-name {
    font-size: 1.2em;
    margin: 5px 0;
}

.cart-item-image {
    width: 90px;
    height: 100%;
}

.cart-item-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cart-item-details {
    flex-grow: 1;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-price {
    margin: 5px 0;
    color: #777;
}

.cart-item-button {
    margin: 5px;
    padding: 10px;
    background-color: rgba(110, 0, 0, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cart-item-button:hover {
    background-color: rgba(180, 0, 0, 0.8);
}

.cart-button {
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    transition: 0.3s ease;
}

.cart-button-border {
    border: 2px solid rgba(110, 0, 0, 0.8);
    background-color: transparent;
    color: #000;
}

.cart-button-border:hover {
    border: 2px solid rgba(180, 0, 0, 0.8);
}

.cart-button-solid {
    background-color: rgba(110, 0, 0, 0.8);
    border: none;
    color: white;
}

.cart-button-solid:hover {
    background-color: rgba(180, 0, 0, 0.8);
    color: white;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.amount {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: 0.3s border-color;
    padding: 10px;
    outline: none;
}

.amount:hover {
    border: 2px solid #000;
}

.amount:focus {
    border: 2px solid #007bff;
}