/* Footer.css */

.footer-container {
    background-color: rgba(110, 0, 0, 0.8);
    padding: 20px 0;
    width: 100%;
    position: relative;
}

.footer-text {
    text-align: center;
}

.footer-title {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.footer-subtitle {
    color: rgba(247, 165, 165, 0.8);
}